<footer class="bg-dark text-light p-5 mt-5">
  <div class="container">
    <div class="text-center">
      <p>&copy; <%= Date.current.year %> Millian Library. All rights reserved.</p>
      <p>For any issues with this site, create an issue on our <%= link_to 'GitHub page', 'https://github.com/mclancy96/physical_library' %></p>
    </div>
  </div>
</footer>