<h1>Editing read status</h1>

<%= render "form", read_status: @read_status %>

<br>

<div>
  <%= link_to "Show this read status", @read_status %> |
  <%= link_to "Back to read statuses", read_statuses_path %>
</div>
