<div id="<%= dom_id rating %>">
  <p>
    <strong>Book:</strong>
    <%= rating.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= rating.member_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= rating.rating %>
  </p>

</div>
