<div class="btn-group" role="group" aria-label="Action Buttons">
  <% if book.borrowed? && book.borrowers.include?(current_user) %>
    <%= button_to "Return Book", borrowing_path(book.borrowings.where(member_id: current_user.id).first), method: :delete, class: "btn btn-outline-danger" %>
  <% elsif book.borrowed? or (book.reserved? && book.reservation.member != current_user) %>
    <form><button class='btn btn-outline-primary' disabled>Borrow Book</button></form>
  <% else %>
    <%= button_to "Borrow Book", borrowings_path(book_id: book.id, member_id: current_user.id), method: :post, class: "btn btn-outline-primary" %>
  <% end %>

  <%if book.borrowed? %>
    <% if book.reserved? && book.reservation.member == current_user %>
      <%= button_to "Cancel Reservation", reservation_path(book.reservation), method: :delete, class: "btn btn-outline-danger" %>
    <% elsif book.reserved? or (book.borrowed? && book.borrowers.include?(current_user)) %>
      <form><button class='btn btn-outline-primary' disabled>Reserve Book</button></form>
    <% else %>
      <%= button_to "Reserve Book", reservations_path(book_id: book.id, member_id: current_user.id), method: :post, class: "btn btn-outline-primary" %>
    <% end %>
  <% end %>

</div>