<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<%= link_to "New book", new_book_path %>

<hr>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <%= render partial: 'book', locals: { book: book } %>
    <% end %>
  </div>
</div>


