<h1>New book</h1>
 <p>Use the form below to manually create a new book or scan one using the scan option below that</p>
<%= render "form", book: @book %>

<br>

<!-- app/views/books/new.html.erb -->
<h1>Scan Book Barcode</h1>
<div>
  <button id="scan-barcode-btn" class="btn btn-primary">Scan Book Barcode</button>
  <div id="reader" style="width: 300px; height: 300px; margin-top: 10px; display: none;"></div>
</div>
<div id="book-info"></div>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
