<div id="<%= dom_id availability_calendar %>">
  <p>
    <strong>Book:</strong>
    <%= availability_calendar.book_id %>
  </p>

  <p>
    <strong>Available date:</strong>
    <%= availability_calendar.available_date %>
  </p>

  <p>
    <strong>Reservation count:</strong>
    <%= availability_calendar.reservation_count %>
  </p>

</div>
