<h1>Editing availability calendar</h1>

<%= render "form", availability_calendar: @availability_calendar %>

<br>

<div>
  <%= link_to "Show this availability calendar", @availability_calendar %> |
  <%= link_to "Back to availability calendars", availability_calendars_path %>
</div>
