<h1>New availability calendar</h1>

<%= render "form", availability_calendar: @availability_calendar %>

<br>

<div>
  <%= link_to "Back to availability calendars", availability_calendars_path %>
</div>
