<h1>Editing book copy</h1>

<%= render "form", book_copy: @book_copy %>

<br>

<div>
  <%= link_to "Show this book copy", @book_copy %> |
  <%= link_to "Back to book copies", book_copies_path %>
</div>
