<div class="container">
  <h1>Members</h1>
  <div class="text-end">
    <%= button_to "Add New member", signup_path, class: 'btn btn-primary' %>
  </div>

  <table class="table table-responsive">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Reservations</th>
      <th scope="col">Books</th>
      <th scope="col">Likes</th>
    </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <%= render 'member_row', member: member %>
    <% end %>
    </tbody>
  </table>

</div>